
<div class="container">

  <div class="ui-g">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>
  </div>


  <div class="ui-g">
    <div class="ui-g-12">

      <p-table [value]="pessoas" [responsive]="true" [rows]="filtro.itensPorPagina"
      [paginator]="true" [lazy]="true" [totalRecords]="totalRegistros"
      (onLazyLoad)="aoMudarPagina($event)" #tabela>
      <ng-template pTemplate="emptymessage">
        Nenhuma pessoa encontrada
      </ng-template>
        <ng-template let-pessoa pTemplate="header">
          <tr>
          <th> Nome </th>
          <th> Cidade </th>
          <th> Estado </th>
          <th> Status </th>
          <th class="col-acoes-header"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-pessoa>
          <tr>
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.endereco.cidade}}</td>
          <td>{{pessoa.endereco.estado}}</td>
          <td>
          <a href="javascript:;" (click)="alternarStatus(pessoa)" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'"
              tooltipPosition="top">
            {{pessoa.ativo ? 'Ativo' : 'Inativo'}}
          </a>
          </td>
          <td class="col-acoes">
            <a pButton icon="pi pi-pencil" style="margin-right: 3px;" pTooltip="Editar" tooltipPosition="top"></a>
            <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
            (click)="confirmarExclusao(pessoa)"></button>
          </td>
          </tr>
          </ng-template>

      </p-table>

    </div>

    <div class="ui-g-12">
      <a pButton label="Nova Pessoa" routerLink="/pessoas/novo"></a>
    </div>
  </div>

</div>
