<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">{{ usuarioLogado }}</li>
    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="temPermissaoLancamento()"><a routerLink="/dashboard" (click)="exibindoMenu = !exibindoMenu">Dashboard</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="temPermissaoLancamento()"><a routerLink="/lancamentos" (click)="exibindoMenu = !exibindoMenu">Lançamentos</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="temPermissaoPessoa()"><a routerLink="/pessoas" (click)="exibindoMenu = !exibindoMenu">Pessoas</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"
    *ngIf="temPermissaoLancamento()"><a routerLink="/relatorios/lancamentos" (click)="exibindoMenu = !exibindoMenu">Relatório</a></li>
    <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Logout</a></li>
  </ul>

</nav>
