<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Novo' }} lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" #tipo name="tipo" [(ngModel)]="lancamento.tipo"></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataVencimento" [(ngModel)]="lancamento.dataVencimento" #dataVencimento="ngModel"
         required></p-calendar>

        <app-message [control]="dataVencimento" error="required" text="Informe uma data de vencimento"></app-message>

      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar dateFormat="dd/mm/yy" name="dataPagamento" [(ngModel)]="lancamento.dataPagamento"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="lancamento.descricao" #descricao="ngModel" required minlength="5">

        <app-message [control]="descricao" error="required" text="Informe uma descrição"></app-message>

        <app-message [control]="descricao" error="minlength"
          text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres."></app-message>

      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input pInputText type="text" placeholder="0,00"
        currencyMask [options]="{prefix: '', thousands:'.', decimal: ',', allowNegative: false}"
        [(ngModel)]="lancamento.valor" #valor="ngModel" name="valor" required>

        <app-message [control]="valor" error="required" text="Informe um valor"></app-message>

      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione"
        #categoria="ngModel" name="categoria" [(ngModel)]="lancamento.categoria.codigo" required></p-dropdown>

        <app-message [control]="categoria" error="required" text="Informe uma categoria"></app-message>

      </div>


      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" placeholder="Selecione" [filter]="true"
        name="pessoa" [(ngModel)]="lancamento.pessoa.codigo" #pessoa="ngModel" required></p-dropdown>

        <app-message [control]="pessoa" error="required" text="Informe uma pessoa"></app-message>

      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea pInputTextarea [rows]="3" name="observacao" [(ngModel)]="lancamento.observacao"></textarea>
      </div>

      <div class="ui-g-6 ui-g-offset-0 ui-md-2 ui-md-offset-7 ui-fluid">
        <input type="file" (change)="inputFileChange($event)" />
      </div>

      <div class="ui-g-12 ui-fluid">
        <a target="_blank" pTooltip="baixar anexo" tooltipPosition="top"
        href=""></a>

      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"
        style="margin-right: 4px;" [disabled]="!f.valid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info" style="margin-right: 4px;"
        (click)="novo(f)"></button>
        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>
</div>
