<div class="container">
  <form autocomplete="off" #pessoaForm="ngForm" (ngSubmit)="salvar(pessoaForm)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Nova' }} pessoa</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" #nome="ngModel" required minlength="5" [(ngModel)]="pessoa.nome"
          (keyup)="existeNome(nome.value, pessoaForm)">

        <app-message [control]="nome" error="required" text="Informe um nome"></app-message>

        <app-message [control]="nome" error="minlength"
          text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres."></app-message>

        <app-message [control]="nome" error="nameExists" text="Nome já existe"></app-message>

      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Logradouro</label>
        <input pInputText type="text" name="logradouro" #logradouro="ngModel" required
          [(ngModel)]="pessoa.endereco.logradouro">

        <app-message [control]="logradouro" error="required" text="Informe o logradouro"></app-message>

      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Número</label>
        <input pInputText type="text" name="numero" #numero="ngModel" required [(ngModel)]="pessoa.endereco.numero">

        <app-message [control]="numero" error="required" text="Informe o número"></app-message>

      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input pInputText type="text" name="complemento" [(ngModel)]="pessoa.endereco.complemento"
          #complemento="ngModel">
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Bairro</label>
        <input pInputText type="text" name="bairro" #bairro="ngModel" required [(ngModel)]="pessoa.endereco.bairro">

        <app-message [control]="bairro" error="required" text="Informe o bairro"></app-message>

      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99.999-999" name="cep" #cep="ngModel" required [(ngModel)]="pessoa.endereco.cep">
        </p-inputMask>

        <app-message [control]="cep" error="required" text="Informe o CEP"></app-message>

      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Estado</label>
        <p-dropdown placeholder="Selecione..." [filter]="true" [options]="estados"
        [(ngModel)]="estadoSelecionado" name="estadoSelecionado"
        (onChange)="carregarCidades()" #estado="ngModel" required></p-dropdown>

        <app-message [control]="estado" error="required" text="Informe o estado"></app-message>

      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Cidade</label>
        <p-dropdown placeholder="Selecione..." [filter]="true" [options]="cidades"
        [(ngModel)]="pessoa.endereco.cidade.codigo" name="cidade"
        #cidade="ngModel" required
        [disabled]="!estadoSelecionado"></p-dropdown>
        <app-message [control]="cidade" error="required" text="Informe a cidade"></app-message>
      </div>


      <div class="ui-g-12">
        <p-panel header="Contatos">
          <div class="ui-g">
            <div class="ui-g-12">
              <button pButton label="Novo" icon="pi pi-plus" type="button" class="ui-button-secondary"
                (click)="prepararNovoContato()"></button>
            </div>
            <div class="ui-g-12">
              <p-table [value]="pessoa.contatos" [responsive]="true">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th class="col-acoes-header"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contato let-rowIndex="rowIndex">
                  <tr>
                    <td>{{ contato.nome }}</td>
                    <td>{{ contato.email }}</td>
                    <td>{{ contato.telefone }}</td>
                    <td class="col-acoes">
                      <button pButton icon="pi pi-pencil" type="button" pTooltip="Editar" tooltipPosition="top"
                        style="margin-right: 2px;" (click)="prepararEdicaoContato(contato, rowIndex)"></button>
                      <button pButton icon="pi pi-trash" type="button" pTooltip="Excluir" tooltipPosition="top"
                        (click)="removerContato(rowIndex)"></button>
                    </td>

                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  Nenhum contato cadastrado
                </ng-template>
              </p-table>

            </div>
          </div>
        </p-panel>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" style="margin-right: 2px;" [disabled]="!pessoaForm.valid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info" style="margin-right: 2px;"
          (click)="novo(pessoaForm)"></button>
        <a routerLink="/pessoas">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>
</div>

<p-dialog [header]="editandoContato ? 'Edição de contato' : 'Novo contato'" [(visible)]="exibindoFormularioContato"
  modal="modal" *ngIf="contato">
  <form #frmContato="ngForm" (ngSubmit)="confirmarContato(frmContato)">
    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input pInputText type="text" name="nome" required [(ngModel)]="contato.nome" #contatoNome="ngModel">
      <app-message [control]="contatoNome" error="required" text="Informe o nome"></app-message>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>E-mail</label>
      <input pInputText type="text" name="email" email required [(ngModel)]="contato.email" #contatoEmail="ngModel">
      <app-message [control]="contatoEmail" error="required" text="Informe o e-mail"></app-message>
      <app-message [control]="contatoEmail" error="email" text="Informe um e-mail válido"></app-message>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Telefone</label>
      <p-inputMask name="telefone" [(ngModel)]="contato.telefone" mask="(99)99999-999?9"></p-inputMask>
    </div>
    <div class="ui-g-12">
      <button pButton type="submit" label="Confirmar" [disabled]="!frmContato.valid"></button>

    </div>

  </form>
</p-dialog>
