<div class="container">
  <form autocomplete="off" #pessoaForm="ngForm" (ngSubmit)="salvar(pessoaForm)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome"
        #nome="ngModel" required minlength="5" [(ngModel)]="pessoa.nome">

        <app-message [control]="nome" error="required" text="Informe um nome"></app-message>

        <app-message [control]="nome" error="minlength"
          text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres."></app-message>

      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Logradouro</label>
        <input pInputText type="text" name="logradouro"
        #logradouro="ngModel" required [(ngModel)]="pessoa.endereco.logradouro">

        <app-message [control]="logradouro" error="required" text="Informe o logradouro"></app-message>

      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Número</label>
        <input pInputText type="text" name="numero"
        #numero="ngModel" required [(ngModel)]="pessoa.endereco.numero">

        <app-message [control]="numero" error="required" text="Informe o número"></app-message>

      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Complemento</label>
        <input pInputText type="text" name="complemento"
        [(ngModel)]="pessoa.endereco.complemento"
        #complemento="ngModel">
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Bairro</label>
        <input pInputText type="text" name="bairro"
        #bairro="ngModel" required [(ngModel)]="pessoa.endereco.bairro">

        <app-message [control]="bairro" error="required" text="Informe o bairro"></app-message>

      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99.999-999"
        name="cep" #cep="ngModel" required
        [(ngModel)]="pessoa.endereco.cep"></p-inputMask>

        <app-message [control]="cep" error="required" text="Informe o CEP"></app-message>

      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Cidade</label>
        <input pInputText type="text" [(ngModel)]="pessoa.endereco.cidade"
        name="cidade" #cidade="ngModel" required>
        <app-message [control]="cidade" error="required" text="Informe a Cidade"></app-message>

      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Estado</label>
        <input pInputText type="text" [(ngModel)]="pessoa.endereco.estado"
        name="estado" #estado="ngModel" required>

        <app-message [control]="estado" error="required" text="Informe o Estado"></app-message>

      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar"
        style="margin-right: 2px;" [disabled]="!pessoaForm.valid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info" style="margin-right: 2px;"></button>
        <a routerLink="/pessoas">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>
</div>
